.holder {
  background-color: var(--bg);
  width: 24rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.holder > * {
  margin-bottom: 1rem;
}

@media (max-width: 450px) {
  .holder {
    width: 100%;
    padding: 0 1rem;
  }
}
