.holder {
  width: 100%;
  padding: 3rem 0;
  margin-bottom: 3rem;
  border-bottom: 3px solid var(--onBg100);
  padding-right: 1rem;
}

.head {
  font-size: var(--headline2);
  line-height: var(--headline3_lineHeight);
  letter-spacing: 0px;
  font-family: var(--font-head);
  margin-bottom: 2rem;
}

.body {
  font-size: var(--headline6);
  line-height: var(--headline6_lineHeight);
  color: var(--onBg900);
}

@media (max-width: 550px) {
  .head {
    font-size: var(--headline4-5);
    line-height: var(--headline4-5_lineHeight);

    letter-spacing: 0px;
  }
}
