.color_light {
  --bg: rgba(252, 252, 250, 1);
  --bg900: rgba(252, 252, 250, 0.9);
  --bg800: rgba(252, 252, 250, 0.8);
  --bg700: rgba(252, 252, 250, 0.7);
  --bg600: rgba(252, 252, 250, 0.6);
  --bg500: rgba(252, 252, 250, 0.5);
  --bg400: rgba(252, 252, 250, 0.4);
  --bg300: rgba(252, 252, 250, 0.3);
  --bg200: rgba(252, 252, 250, 0.2);
  --bg100: rgba(252, 252, 250, 0.1);

  --onBg: rgba(26, 28, 27, 1);
  --onBg900: rgba(26, 28, 27, 0.9);
  --onBg800: rgba(26, 28, 27, 0.8);
  --onBg700: rgba(26, 28, 27, 0.7);
  --onBg600: rgba(26, 28, 27, 0.6);
  --onBg500: rgba(26, 28, 27, 0.5);
  --onBg400: rgba(26, 28, 27, 0.4);
  --onBg300: rgba(26, 28, 27, 0.3);
  --onBg200: rgba(26, 28, 27, 0.2);
  --onBg100: rgba(26, 28, 27, 0.1);

  --primaryCon: rgba(149, 221, 206, 1);
  --primaryCon900: rgba(149, 221, 206, 0.9);
  --primaryCon800: rgba(149, 221, 206, 0.8);
  --primaryCon700: rgba(149, 221, 206, 0.7);
  --primaryCon600: rgba(149, 221, 206, 0.6);
  --primaryCon500: rgba(149, 221, 206, 0.5);
  --primaryCon400: rgba(149, 221, 206, 0.4);
  --primaryCon300: rgba(149, 221, 206, 0.3);
  --primaryCon200: rgba(149, 221, 206, 0.2);
  --primaryCon100: rgba(149, 221, 206, 0.1);

  --primaryOnCon: rgba(0, 32, 27, 1);
  --primaryOnCon900: rgba(0, 32, 27, 0.9);
  --primaryOnCon800: rgba(0, 32, 27, 0.8);
  --primaryOnCon700: rgba(0, 32, 27, 0.7);
  --primaryOnCon600: rgba(0, 32, 27, 0.6);
  --primaryOnCon500: rgba(0, 32, 27, 0.5);
  --primaryOnCon400: rgba(0, 32, 27, 0.4);
  --primaryOnCon300: rgba(0, 32, 27, 0.3);
  --primaryOnCon200: rgba(0, 32, 27, 0.2);
  --primaryOnCon100: rgba(0, 32, 27, 0.1);

  --tertiaryCon: rgba(210, 229, 247, 1);
  --tertiaryCon900: rgba(210, 229, 247, 0.9);
  --tertiaryCon800: rgba(210, 229, 247, 0.8);
  --tertiaryCon700: rgba(210, 229, 247, 0.7);
  --tertiaryCon600: rgba(210, 229, 247, 0.6);
  --tertiaryCon500: rgba(210, 229, 247, 0.5);
  --tertiaryCon400: rgba(210, 229, 247, 0.4);
  --tertiaryCon300: rgba(210, 229, 247, 0.3);
  --tertiaryCon200: rgba(210, 229, 247, 0.2);
  --tertiaryCon100: rgba(210, 229, 247, 0.1);

  --tertiaryOnCon: rgba(10, 29, 42, 1);
  --tertiaryOnCon900: rgba(10, 29, 42, 0.9);
  --tertiaryOnCon800: rgba(11, 14, 17, 0.8);
  --tertiaryOnCon700: rgba(10, 29, 42, 0.7);
  --tertiaryOnCon600: rgba(10, 29, 42, 0.6);
  --tertiaryOnCon500: rgba(10, 29, 42, 0.5);
  --tertiaryOnCon400: rgba(10, 29, 42, 0.4);
  --tertiaryOnCon300: rgba(10, 29, 42, 0.3);
  --tertiaryOnCon200: rgba(10, 29, 42, 0.2);
  --tertiaryOnCon100: rgba(10, 29, 42, 0.1);

  --gray: rgba(150, 150, 150, 1);
  --gray900: rgba(150, 150, 150, 0.9);
  --gray800: rgba(150, 150, 150, 0.8);
  --gray700: rgba(150, 150, 150, 0.7);
  --gray600: rgba(150, 150, 150, 0.6);
  --gray500: rgba(150, 150, 150, 0.5);
  --gray400: rgba(150, 150, 150, 0.4);
  --gray300: rgba(150, 150, 150, 0.3);
  --gray200: rgba(150, 150, 150, 0.2);
  --gray100: rgba(150, 150, 150, 0.1);

  --radial: radial-gradient(
      29.67% 64.18% at 82.5% 18.29%,
      rgba(149, 221, 206, 0.2) 0%,
      rgba(149, 221, 206, 0) 100%
    ),
    radial-gradient(
      20.75% 46.99% at 21.86% 41.82%,
      rgba(152, 168, 223, 0.2) 0%,
      rgba(149, 220, 206, 0.00208333) 99.99%,
      rgba(238, 238, 238, 0.2) 100%
    ),
    radial-gradient(
      18.86% 52.82% at 35.83% 22.84%,
      rgba(149, 221, 206, 0.2) 0%,
      rgba(149, 221, 206, 0) 100%
    ),
    radial-gradient(
      29.17% 65.45% at 77.49% 50%,
      rgba(149, 221, 206, 0.2) 0%,
      rgba(149, 221, 206, 0) 100%
    ),
    #fcfcfa;
}

.transitionToken {
  --colorTransition: color 0.5s;
  --bgTransition: background-color 0.5s, fill 0.5s;
  --boxShadowTransition: box-shadow 0.2s;
}

.shadows {
  --shadow1dp: 0px 0px 2px 0px #00000024, 0px 2px 2px 0px #0000001f,
    0px 1px 3px 0px #00000033;

  --shadow2dp: 0px 0px 4px 0px #00000024, 0px 3px 4px 0px #0000001f,
    0px 1px 5px 0px #00000033;

  --shadow3dp: 0px 3px 3px 0px #00000024, 0px 3px 4px 0px #0000001f,
    0px 1px 8px 0px #00000033;

  --shadow8dp: 0px 8px 10px 1px #00000024, 0px 3px 14px 3px #0000001f,
    0px 4px 15px 0px #00000033;
  --shadow24dp: 0px 24px 38px 3px #00000024, 0px 9px 46px 8px #0000001f,
    0px 11px 15px 0px #00000033;
}

.font_sizes {
  --headline1: 60px;
  --headline2: 50px;
  --headline3: 43px;
  --headline4: 24px;
  --headline5: 22px;
  --headline6: 18px;
  --subhead1: 16px;
  --subhead2: 14px;
  --subhead3: 12px;
  --button: 15px;
}

.line_height {
  --headline1_lineHeight: 75px;
  --headline2_lineHeight: 60px;
  --headline3_lineHeight: 53px;
  --headline4_lineHeight: 32px;
  --headline5_lineHeight: 28px;
  --headline6_lineHeight: 24px;
  --subhead1_lineHeight: 24px;
  --subhead2_lineHeight: 20px;
  --subhead3_lineHeight: 18px;
  --button_lineHeight: 20px;
}
