.holder {
  width: 100%;
  margin-top: 1rem;
}
.holder > div p {
  white-space: nowrap;
  padding-right: 1rem;
  width: 10rem;
  font-family: var(--font-head);
  color: var(--onBg900);
}

.headInput input,
.subHeadInput input,
.bodyInput textarea {
  border: none;
  border-bottom: 1px solid var(--onBg100);
  /* border-radius: 0; */
  width: 90%;
}

.headInput,
.subHeadInput,
.bodyInput {
  width: 100%;
}
.headInput input:focus,
.subHeadInput input:focus,
.bodyInput textarea:focus {
  background-color: var(--onBg50);
  border-color: var(--onBg);
  box-shadow: var(--shadow1dp);
}

.head,
.middle,
.bottom {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.head {
  margin-bottom: 3rem;
}

.head p {
  font-size: var(--headline4);
  line-height: var(--headline4_lineHeight);
}

.head input {
  font-weight: 400;
  font-family: var(--font-head);
  font-size: var(--headline4);
  line-height: var(--headline4_lineHeight);
}

.middle {
  margin-bottom: 4rem;
}

.middle p {
  font-size: var(--headline6);
  line-height: var(--headline6_lineHeight);
}

.middle input {
  font-size: var(--headline6);
  line-height: var(--headline6_lineHeight);
  color: var(--onBg900);
}

.bottom {
  display: flex;
  align-items: flex-start;
}

.bottom textarea {
  border: 1px solid var(--onBg100);
  height: 100vh;
}
