.holder {
  background: var(--radial);
  height: 90vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: calc(1rem * 6);
}

.head {
  font-size: var(--headline0);

  line-height: var(--headline0_lineHeight);
  color: var(--onBg);
  font-family: var(--font-head);
  margin-bottom: 2rem;
}

.subhead {
  font-weight: 600;
  color: var(--onBg600);
}

.button {
  margin-top: 2rem;
  font-size: var(--headline5);
  padding: 0.5rem 1.6rem;
}
