.holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem calc(1rem * 6);
  border-bottom: 1px solid var(--onBg200);
  background-color: transparent;
  position: -webkit-sticky;
  position: sticky;
  right: 0;
  top: 0;
  z-index: 1000;
  background: var(--radial);
  border-radius: 0 0 10px 10px;
}

.left {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBox {
  margin-left: 1rem;
}

.writeButton {
  min-width: fit-content;
  margin-right: 1rem;
}

.writeButton svg {
  margin-right: 0.4rem;
}

.right {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.authButton {
  min-width: fit-content;
}

.logo {
  width: 35px;
  height: 35px;
}

.searchButton,
.writeIconButton {
  min-width: fit-content;
  padding: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  margin-right: 0.5rem;
}

@media (max-width: 1000px) {
  .holder {
    padding: 0.7rem calc(1rem * 3);
  }
}

@media (max-width: 850px) {
  .searchBox,
  .writeButton {
    display: none;
  }
  .searchButton,
  .writeIconButton {
    display: flex;
  }
}

@media (max-width: 600px) {
  .holder {
    padding: 0.7rem calc(1rem * 1);
  }
}
